.time-bar {
    position: absolute;
    bottom: 0px;
    height: 0%;
    border-top: 3px solid #f88;
    background: #ccc;
}

.freq-bar {
    position: absolute;
    bottom: 0px;
    height: 0%;
    border-top: 3px solid #8f8;
    background: #000;
}
